################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/__pycache__/
**/.idea/
**/chromedriver_win32/
**/output/
create_repo.bat